#blog-section {
  article{
    background-color: $backgroundColorWhiteFull;
    height: 300px;
    display: flex;
    border: 0.5px solid $borderColorGreyLight;
    .content-image {
      background-color: $backgroundPhotosColorBlue;
      > img {
        width: 100%;
        height: 100%;
        opacity: 0.4;
      }
    }
    .content-text {
      height: 100%;
      padding: 0 1em;
      display: flex;
      div {
        margin: auto;
        > h1 {
          margin-bottom: 10px;
        }
        > p {
          margin-bottom: 25px;
          text-align: justify;
        }
      }

    }
  }
  .text-image-lg {
    > div:first-child{
      flex-basis: 55%;
    }
    > div:last-child{
      flex-basis: 45%;
    }
  }
  .text-image-md {
    > div:first-child{
      flex-basis: 50%;
    }
    > div:last-child{
      flex-basis: 50%;
    }
  }
  .text-lg {
    > .content-text {
      width: 80%;
      margin: auto;
      text-align: center;
    }
  }
}