html {
  height: 100%;
  body {
    height: 100%;
    background-color: $colorBackgroundBody;
    #positionning-box-tosle {
      position: absolute;
      width: 100%;
      > .section-size-body {
        max-width: $sizeMaxWidthSection;
        margin: 0 auto;
        > .content-box {
          position: relative;
          width: 100%;
        }
      }
    }
    .fade-background-burgermenu {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 10;
    }
  }
}
