main {
  max-width: $sizeMaxWidthSection;
  margin: 0 auto;
  height: 100%;
  display: flex;
  @import "Column/left_column";
  > .middle-column {
    flex-basis: 30%;
  }
  > .right-column {
    flex-basis: 50%;
  }
}