@media all and (max-device-width: 420px){
  body {
    padding-bottom: $sizeHeightHeader + 90px;
    > header {
      > section {
        height: $sizeHeightHeader + 60px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 60px;
              font-size: 2.5em;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 60px;
              font-size: 2.5em;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader + 30px;
                height: $sizeHeightHeader + 30px;
                margin-top: 0;
              }
              > i {
                line-height: $sizeHeightHeader + 30px;
                font-size: 2.5em;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 90px;
        position: fixed;
        bottom: 0;
        width: 100%;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              font-size: 1.4em;
              padding: 30px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    > main {
      padding-top: $sizeHeightHeader + 60px;
      display: block;
      > .left-column {
        position: absolute;
        top: 0;
        background-color: $colorBackgroundBody;
        width: 0;
        z-index: 11;
        opacity: 0;
        height: 100%;
        transition: opacity 0.4s;
        > .content-box-left {
          padding: 15px 40px;
          > .btn-tosle {
            width: 100%;
            height: 120px;
            font-size: 1.8em;
            &.btn-close-window {
              display: block;
            }
            > i, > p {
              line-height: 120px;
            }
          }
          > ul {
            margin-top: 60px;
            font-size: 1.8em;
            > li {
              > a {
                height: 100px;
              }
            }
          }
          > .profil-info {
            font-size: 1.8em;
          }
          > .profil-stats {
            font-size: 1.8em;
          }
        }
        .footer-infos {
          font-size: 1.8em;
          > .global-infos {
            margin-top: 30px;
          }
        }
      }
      > .middle-column {
        height: 140px;
        > .content-actually-filter {
          padding: 2.5px 5px;
          text-align: center;
          display: none;
          > p {
            font-size: 0.8em;
            > i {
              font-size: 0.8em;
            }
          }
        }
        > .content-message {
          min-width: 100%;
          display: flex;
          flex-wrap: nowrap;
          > .message-info {
            padding: 5px 0;
            width: 15%;
            height: 100%;
            > .header-message {
              display: block;
              > .logo-header-message {
                margin: 0 auto;
                width: 50px;
                height: 50px;
                line-height: 50px;
              }
              > .id-header-message {
                text-align: center;
                font-size: 1.2em;
                line-height: 100%;
                padding: 5px 15px;
              }
            }
            > .main-message {
              display: none;
            }
            > .footer-message {
              display: none;
            }
          }
        }
      }
      > .right-column {
        flex-basis: 60%;
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader + 30px;
      width: 450px;
      > .arrow-top-menu {
        width: 15px;
        border-bottom: 15px solid $colorBackgroundHeader;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        right: 15px;
      }
      > .content-menu-header {
        margin-top: 15px;
        > ul {
          > li {
            padding: 0 25px;
            > a {
              font-size: 1.3em;
              padding: 25px 0;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 420px){
  body {
    padding-bottom: $sizeHeightHeader + 30px;
    > header {
      > section {
        height: $sizeHeightHeader + 30px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 30px;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 30px;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader + 10px;
                height: $sizeHeightHeader + 10px;
              }
              > i {
                line-height: $sizeHeightHeader + 30px;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 30px;
        position: fixed;
        bottom: 0;
        width: 100%;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              font-size: 0.9em;
              padding: 15px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    > main {
      padding-top: $sizeHeightHeader + 30px;
      display: block;
      > .left-column {
        position: absolute;
        top: 0;
        background-color: $colorBackgroundBody;
        width: 0;
        z-index: 11;
        opacity: 0;
        height: 100%;
        transition: opacity 0.4s;
        > .content-box-left {
          > .btn-tosle {
            &.btn-close-window {
              display: block;
            }
          }
        }
      }
      > .middle-column {
        flex-basis: 100%;
        height: 125px;
        > .content-actually-filter {
          padding: 2.5px 5px;
          text-align: center;
          display: none;
          > p {
            font-size: 0.8em;
            > i {
              font-size: 0.8em;
            }
          }
        }
        > .content-message {
          min-width: 100%;
          display: flex;
          flex-wrap: nowrap;
          > .message-info {
            padding: 5px 0;
            height: 100%;
            > .header-message {
              display: block;
              > .logo-header-message {
                margin: 0 auto;
              }
              > .id-header-message {
                text-align: center;
                font-size: 1em;
                line-height: 100%;
                padding: 5px 15px;
              }
            }
            > .main-message {
              display: none;
            }
            > .footer-message {
              display: none;
            }
          }
        }
      }
      > .right-column {
        flex-basis: 100%;
      }
    }
    #menu-header-section {
       margin-top: $sizeHeightHeader + 30px;
       width: 300px;
       > .arrow-top-menu {
         width: 15px;
         border-bottom: 15px solid $colorBackgroundHeader;
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         position: absolute;
         right: 7px;
       }
       > .content-menu-header {
         margin-top: 15px;
       }
     }
  }
}
@media all and (min-width: 420px) and (min-device-width: 420px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader + 10px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 10px;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 10px;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader - 10px;
                height: $sizeHeightHeader - 10px;
              }
              > i {
                line-height: $sizeHeightHeader + 10px;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 10px;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              padding: 5px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    > main {
      padding-top: $sizeHeightHeader * 2 + 20px;
      > .left-column {
        position: absolute;
        top: 0;
        background-color: $colorBackgroundBody;
        width: 0;
        z-index: 11;
        opacity: 0;
        height: 100%;
        transition: opacity 0.4s;
        > .content-box-left {
          > .btn-tosle {
            &.btn-close-window {
              display: block;
            }
          }
        }
      }
      > .middle-column {
        flex-basis: 30%;
        > .content-actually-filter {
          padding: 2.5px 5px;
          text-align: center;
          > p {
            font-size: 0.8em;
            > i {
              font-size: 0.8em;
            }
          }
        }
        > .content-message {
            > .message-info {
              padding: 2.5px;
              > .header-message {
                  display: block;
                > .logo-header-message {
                  margin: 0 auto;
                }
                > .id-header-message {
                  text-align: center;
                  font-size: 0.8em;
                }
              }
              > .main-message {
                display: none;
              }
              > .footer-message {
                padding: 5px 5px;
                text-align: center;
              }
            }
        }
      }
      > .right-column {
        flex-basis: 70%;
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader + 10px;
    }
  }
}
@media all and (min-width: 768px) and (min-device-width: 768px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader;
        > div {
          > .left-block {
            > p {
              line-height: $sizeHeightHeader;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader - 20px;
                height: $sizeHeightHeader - 20px;
              }
              > i {
                line-height: $sizeHeightHeader;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader;
        > ul {
          > li {
            > a {
              padding: 3px 0;
            }
          }
        }
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader;
    }
    > main {
      padding-top: $sizeHeightHeader * 2;
      > .left-column {
        position: absolute;
        top: 0;
        background-color: $colorBackgroundBody;
        width: 0;
        z-index: 11;
        opacity: 0;
        transition: opacity 0.4s;
        > .content-box-left {
          > .btn-tosle {
            &.btn-close-window {
              display: block;
            }
          }
        }
      }
      > .middle-column {
        flex-basis: 40%;
        > .content-actually-filter {
          padding: 2.5px 15px;
          > p {
            font-size: 1em;
            > i {
              font-size: 0.9em;
            }
          }
        }
        > .content-message {
          > .message-info {
            padding: 5px;
            > .header-message {
              display: flex;
              > .logo-header-message {
                margin: 0;
              }
              > .id-header-message {
                text-align: left;
                font-size: 1em;
              }
            }
            > .main-message {
              display: block;
            }
            > .footer-message {
              padding: 15px 15px;
              text-align: left;
            }
          }
        }
      }
      > .right-column {
        flex-basis: 60%;
      }
    }
  }
}
@media all and (min-width: 1230px) and (min-device-width: 1230px){
  body {
    > header {
      > nav {
        > ul {
          > li {
            flex-basis: 25%;
            > a {
              padding: 5px 0;
            }
            &.burgermenu {
              display: none;
            }
          }
        }
      }
    }
    > main {
      > .left-column {
        position: static;
        flex-basis: 20%;
        height: auto;
        opacity: 1;
        > .content-box-left {
          > .btn-tosle {
            &.btn-close-window {
              display: none;
            }
          }
        }
      }
      > .middle-column {
        flex-basis: 30%;
      }
      > .right-column {
        flex-basis: 50%;
      }
    }
    .fade-background-burgermenu {
      display: none;
    }
  }
}