@media all and (max-device-width: 420px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader + 30px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 30px;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 30px;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader + 10px;
                height: $sizeHeightHeader + 10px;
              }
              > i {
                line-height: $sizeHeightHeader + 30px;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 90px;
        position: fixed;
        bottom: 0;
        width: 100%;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              font-size: 1.4em;
              padding: 30px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader + 30px;
      width: 450px;
      > .arrow-top-menu {
        width: 15px;
        border-bottom: 15px solid $colorBackgroundHeader;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        right: 7px;
      }
      > .content-menu-header {
        margin-top: 15px;
        > ul {
          > li {
            padding: 0 25px;
            > a {
              font-size: 1.3em;
              padding: 25px 0;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 420px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader + 30px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 30px;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 30px;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader + 10px;
                height: $sizeHeightHeader + 10px;
              }
              > i {
                line-height: $sizeHeightHeader + 30px;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 30px;
        position: fixed;
        bottom: 0;
        width: 100%;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              font-size: 0.9em;
              padding: 15px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    #menu-header-section {
       margin-top: $sizeHeightHeader + 30px;
       width: 300px;
       > .arrow-top-menu {
         width: 15px;
         border-bottom: 15px solid $colorBackgroundHeader;
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         position: absolute;
         right: 7px;
       }
       > .content-menu-header {
         margin-top: 15px;
       }
     }
  }
}
@media all and (min-width: 420px) and (min-device-width: 420px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader + 10px;
        > div {
          padding: 0 5px;
          > .left-block {
            > p {
              line-height: $sizeHeightHeader + 10px;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader + 10px;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader - 10px;
                height: $sizeHeightHeader - 10px;
              }
              > i {
                line-height: $sizeHeightHeader + 10px;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader + 10px;
        > ul {
          > li {
            flex-basis: 20%;
            > a {
              padding: 5px 0;
            }
            &.burgermenu {
              display: block;
            }
          }
        }
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader + 10px;
      width: 250px;
      > .arrow-top-menu {
        width: 7px;
        border-bottom: 7px solid $colorBackgroundHeader;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        right: 10px;
      }
      > .content-menu-header {
        margin-top: 7px;
      }
    }
  }
}
@media all and (min-width: 768px) and (min-device-width: 768px){
  body {
    > header {
      > section {
        height: $sizeHeightHeader;
        > div {
          > .left-block {
            > p {
              line-height: $sizeHeightHeader;
            }
          }
          > .right-block {
            > i {
              line-height: $sizeHeightHeader;
            }
            .profil-icon {
              > .avatar-profil {
                width: $sizeHeightHeader - 20px;
                height: $sizeHeightHeader - 20px;
              }
              > i {
                line-height: $sizeHeightHeader;
              }
            }
          }
        }
      }
      > nav {
        height: $sizeHeightHeader;
        > ul {
          > li {
            > a {
              padding: 3px 0;
            }
          }
        }
      }
    }
    #menu-header-section {
      margin-top: $sizeHeightHeader;
    }
  }
}
@media all and (min-width: 1230px) and (min-device-width: 1230px){
  body {
    > header {
      > nav {
        > ul {
          > li {
            flex-basis: 25%;
            > a {
              padding: 5px 0;
            }
            &.burgermenu {
              display: none;
            }
          }
        }
      }
    }
  }
}