$colorBackgroundBody: #EBEBEB;
$colorBackgroundHeader: #FFFFFF;

$colorBackgroundLeftBox: #FFFFFF;


/* MIDDLE COLUMN */
$colorBackgroundMiddleColumn: #E0E0E0;

$colorBackgroundLogoHeaderMessageOld: #7D7D7D;
$colorFontLogoHeaderMessageOld: #444444;
$colorFontMessageOld: #888888;

$colorBackgroundLogoHeaderMessageNotification: #7D7D7D;
$colorFontMessageNotification: #000000;

$colorFontLogoHeaderMessageActiveHover: #FFFFFF;
$colorFontMessageActiveHover: #000000;

$transitionHoverGlobalMessage: 0.4s;
$transitionHoverLogoHeaderMessage: 0.2s;
/* MIDDLE COLUMN */