# IDE
.idea/

#Fichiers et dossiers à ignorer pour éviter la surcharge du repo
node_modules/

#Partie des fichiers à copier coller et où il faut enlever l'extension '.dist'
App/config/parameter.php
.htaccess
