.lesson-bloc {
  height: 300px;
  background-color: #ffffff;
  > .fade-background-lesson {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    > .title-lesson {
      padding: 7.5px;
      border-bottom: 1px solid;
      > .info-datecreate {
        position: absolute;
        top: 12.5px;
        right: 7.5px;
      }
    }
    > .description-lesson {
      padding: 7.5px;
    }
    > .difficult {
      display: flex;
      > .arrow-difficult {
        width: 10px;
        border-bottom: 10px solid transparent;
        border-left: 10px solid;
        border-top: 10px solid transparent;
      }
      > p {
        padding: 7.5px;
        font-weight: 600;
      }
      > span {
        width: 25px;
        line-height: 100%;
        margin-top: 4px;
      }
    }
    > .category-list-lesson {
        position: absolute;
        bottom: 0;
        border-top: 0.5px solid;
        max-width: 100%;
        padding: 1%;
    }
    > .more-infos {
      position: absolute;
      height: 18%;
      bottom: -17%;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      -webkit-box-shadow: 0px 0px 40px -12px transparent;
      -moz-box-shadow: 0px 0px 40px -12px transparent;
      box-shadow: 0px 0px 40px -12px transparent;
      border: 0px solid;
      transition: 0.4s;
      > .info-comment-lesson {
        position: absolute;
        font-weight: bold;
        color: white;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        bottom: 16px;
        left: 15px;
        > i {
          position: relative;
          top: 7px;
        }
      }
      > .info-chapter {
        position: absolute;
        font-weight: bold;
        color: white;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        bottom: 15px;
        right: 15px;
        > i {
          position: relative;
          top: 5px;
        }
      }
      > .info-btn-readmore {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:hover {
      > .more-infos {
        bottom: 0%;
        -webkit-box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
      }
    }
  }
}

.header-lesson-container {
  .icons-list {
    display: flex;
    > .lesson-link-icon {
      color: $colorBackgroundIcon;
      text-decoration: none;
      border: 1px solid $colorBackgroundIcon;
      background-color: $colorGlobalToslePrimary;
      border-radius: 3.5px;
      padding: 3.5px;
      text-align: center;
      display: flex;
      > i {
        margin: auto;
        font-size: 1.8em;
      }
      > p {
        margin: auto;
      }
      &.newsletter-off {
        background-color: #F43C3E;
      }
    }
  }
}

/**
Override buttons OSPAF
 */
.btn {
  > i {
    position: relative;
    top: 5px;
  }
}

.bg-white {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  -moz-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  border: solid 0.5px #3b3f5442;
}
.bg-message-blog {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  -moz-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.59);
  border: solid 0.5px #3b3f5442;
  border-radius: 5px;
}

.bloc-login-container h2, .bloc-signup-container h2 {
  text-align: center;
  color: $colorGlobalToslePrimary;
}
.bloc-login-container p, .bloc-signup-container p {
  text-align: center;
  font-size: 0.9em;
  padding: 20px 0;
}

.login-bloc {
  padding: 15px;
}
body > main .message-bloc > .login-message {
  color: #0000cc;
  font-weight: 500;
  font-style: italic;
}

.errors-message {
  font-size: 0.9em;
  color: red;
  margin-bottom: 15px;
}

.errors-message .error-type {
  font-weight: 500;
}

.captcha_img img {
  border: 1px solid #000;
}
input {
  margin-top: 15px;
}


.encaps-comment {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
}
.content-comment {
  border-bottom: 1px solid;
  > .fade-comment {
    padding: 15px;
    position: relative;
    width: 100%;
    > .comment-content-infos {
      padding: 5px 0;
    }
    > .comment-autor-infos {
      font-size: 0.8em;
      color: rgb(120, 120, 120);
    }
    > .comment-content-option {
      font-size: 0.8em;
      position: absolute;
      bottom: 15px;
      right: 15px;
      > a {
        color: black;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
          text-decoration: underline;
          color: $colorGlobalToslePrimary;
        }
      }
    }
  }
  &:last-child{
    border-bottom: none;
  }
}

.lesson-description {
  background-color: white;
  padding: 15px;
  padding-bottom: 20px;
  > p {
    margin: 10px 0;
  }
}

.lesson-chapters {
  background-color: white;
  > h3 {
    padding: 7.5px;
    border-bottom: 1px solid;
  }
  > ul {
    list-style: none;
    > a {
      color: black;
      text-decoration: none;
      > li {
        padding: 7.5px 15px;
        border-left: 2px solid $colorGlobalToslePrimary;
        opacity: 0.7;
        transition: 0.2s;
        &.active, &:hover {
          padding: 7.5px 15px;
          border-left: 15px solid $colorGlobalToslePrimary;
          opacity: 1;
        }
        &.active {
          color: $colorGlobalToslePrimary;
        }
      }
    }
  }
}

.chapter-bloc {
  background-color: white;
  padding: 15px;
  .content-file-chapter {
    padding: 10px 0;
    border-bottom: 1px solid;
  }
  .content-chapter {
    margin-top: 25px;
  }
}

.logo-header {
  img {
    width: 150px;
    height: 53px;
    margin-top: 3px;
  }
}