.lesson-bloc {
  height: 300px;
  background-color: #ffffff;
  > .fade-background-lesson {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    > .title-lesson {
      padding: 7.5px;
      border-bottom: 1px solid;
      > .info-datecreate {
        position: absolute;
        top: 12.5px;
        right: 7.5px;
      }
    }
    > .description-lesson {
      padding: 7.5px;
    }
    > .category-list-lesson {
        position: absolute;
        bottom: 0;
        border-top: 0.5px solid;
        max-width: 100%;
        padding: 1%;
    }
    > .more-infos {
      position: absolute;
      height: 18%;
      bottom: -17%;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      -webkit-box-shadow: 0px 0px 40px -12px transparent;
      -moz-box-shadow: 0px 0px 40px -12px transparent;
      box-shadow: 0px 0px 40px -12px transparent;
      border: 0px solid;
      transition: 0.4s;
      > .info-comment-lesson {
        position: absolute;
        bottom: 10px;
        left: 15px;
      }
      > .info-chapter {
        position: absolute;
        bottom: 10px;
        right: 15px;
      }
      > .info-btn-readmore {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:hover {
      > .more-infos {
        bottom: 0%;
        -webkit-box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 40px -12px rgba(0,0,0,0.75);
      }
    }
  }
}

.header-lesson-container {
  .icons-list {
    display: flex;
    > .lesson-link-icon {
      color: $colorBackgroundIcon;
      text-decoration: none;
      border: 1px solid $colorBackgroundIcon;
      background-color: $colorGlobalToslePrimary;
      border-radius: 3.5px;
      padding: 3.5px;
      text-align: center;
      display: flex;
      > i {
        margin: auto;
        font-size: 1.8em;
      }
      > p {
        margin: auto;
      }
      &.newsletter-off {
        background-color: #F43C3E;
      }
    }
  }
}