<?php
    /**
    *   Informations à propos de ce fichier :
    *       * Il est nécessaire de le COPIER dans le répertoire App/config en enlevant l'extension '.dist'
    *       * Renseignez les informations dans les defines
    *       * Sinon, utilisez l'installeur
    */
    define("DBUSER","root");
    define("DBPWD","");
    define("DBHOST","localhost");
    define("DBNAME","tosle_database");
    define("DBPORT","3306");
    define("GUSER", "contact.tosle@gmail.com");
    define("GPWD", "ostosle2018");