.container-messaging {
  width: 100%;
  > section:first-child{
    background-color: $backgroundColorWhiteFull;
  }
  > section:nth-child(2){
    float:left;
  }
  > section:last-child{
    float:left;
  }
  > section::before {
    display: table;
    content: '';
  }
  > section::after {
    display: table;
    content: '';
    clear: both;
  }
}
@import "view_left_column";
@import "view_middle_column";
@import "view_right_column";

@media all and (max-device-width: 870px){
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid $borderColorGreyLight;
    > ul {
      display: flex;
      height: 100px;
      > li, li:first-child {
        margin: 0;
        padding: 0;
        height: 100px;
        text-align: center;
        .button-new-message, a {
          p {
            display: none;
          }
          i {
            font-size: 2.5rem;
          }
        }
        a {
          i {
            font-size: 2.5rem;
            line-height: 100px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 870px){
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid $borderColorGreyLight;
    > ul {
      display: flex;
      height: 100px;
      > li, li:first-child {
        margin: 0;
        padding: 0;
        height: 100px;
        text-align: center;
        .button-new-message, a {
          p {
            display: none;
          }
          i {
            font-size: 2.5rem;
          }
        }
        a {
          i {
            font-size: 2.5rem;
            line-height: 100px;
          }
        }
      }
    }
  }
  .middle-column {
    width: 10%;
    > .header-middle-column {
      display: none;
    }
    > .messages-middle {
      > .content-message {
        padding: 20px 0;
        text-align: center;
        > .header-message-info {
          height: auto;
          > .icon-message {
            width: 48px;
            height: 48px;
            line-height: 48px;
            p {
              font-size: 1.5em;
            }
          }
          > .owner-message {
            display: none;
          }
        }
        > .main-message-info {
          display: none;
        }
        > .footer-message-info {
          display: none;
        }
      }
    }
    > .circle-new-message {
      display: none;
    }
  }
  .right-column {
    width: 90%;
  }
}
@media all and (min-device-width: 870px) and (min-width: 870px) and (max-width: 1200px){
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid $borderColorGreyLight;
    > ul {
      display: flex;
      height: 80px;
      > li, > li:first-child{
        margin: 0;
        padding: 0;
        height: 80px;
        flex-basis: calc(80% / 5);
        text-align: center;
        > a {
          > p {
            display: block;
            font-size: 0.8em;
            margin-left: 3px;
            line-height: 0;
            margin-top: 15px;
          }
          i {
            line-height: 0;
             margin-top: 25px;
          }
        }
        > .button-new-message {
          > p {
            display: inline-block;
            font-size: 1em;
            margin-left: 3px;
          }
        }
      }
      > li:first-child {
        flex-basis: 20%;
      }
    }
  }
  .middle-column{
    width: 40%;
  }
  .right-column {
    width: 60%;
  }
}