.container-messaging {
  width: 100%;
  > section:first-child{
    float:left;
    background-color: $backgroundColorWhiteFull;
    width: 20%;
  }
  > section:nth-child(2){
    float:left;
    width: 30%;
  }
  > section:last-child{
    float:left;
    width: 50%;
  }
  > section::before {
    display: table;
    content: '';
  }
  > section::after {
    display: table;
    content: '';
    clear: both;
  }
}
@import "view_left_column";
@import "view_middle_column";