/* GLOBAL VARIABLES */
  /* DEFAULT*/
      $globalColorDefault: #D2DAE2;
      $globalColorDefaultDark: #7F8FA6;
  /* DEFAULT */
  /* RED */
      $globalColorRed: #F43C3E;
      $globalColorRedDark: #CF2829;
  /* RED */
  /* WHITE */
      $globalColorWhite: #F5F6FA;
  /* WHITE */
  /* GREEN */
      $globalColorGreen: #2ECC71;
      $globalColorGreenDark: #27AE60;
  /* GREEN */
  /* BLUE */
      $globalColorBlue: #00A8FF;
      $globalColorBlueDark: #037FF1;
  /* BLUE */
  /* ORANGE */
      $globalColorOrange: #FA690E;
      $globalColorOrangeDark: #DC4712;
  /* ORANGE */
  /* PURPLE */
      $globalColorPurple: #9B59B6;
      $globalColorPurpleDark: #8E44AD;
  /* PURPLE*/
/* GLOBAL VARIABLES */

/* BACKGROUND COLOR */
      /* WHITE */
            $backgroundColorWhiteFull: #FFFFFF;
            $backgroundColorWhiteLight: #F1F1F1;
      /* WHITE */
      /* BLUE */
            $backgroundColorBlue: #1A5CCB;
            $backgroundColorBlueDark: #037FF1;
      /* BLUE */
      /* GREY */
            $backgroundColorGreyLight: #E5E5E5;
      /* GREY */
      /* BLACK */
            $backgroundColorDarkLight: #3D3F3E;
      /* BLACK */
/* BACKGROUND COLOR */

/* BORDER COLOR */
  /* GREY */
      $borderColorGreyLight: #BDBDBD;
  /* GREY */
  /* BLACK */
      $borderColorDarkLight: #3D3F3E;
  /* BLACK */
/* BORDER COLOR */

/* TEXT COLOR */
      /* BLUE */
            $textColorBlueTitle: #1A5CCB;
      /* BLUE */
      /* GREY */
            $textColorGreyLight: #8C8C8C;
            $textColorGreyDark: #3D3F3E;
      /* GREY */
      /* WHITE */
            $textColorWhiteFull: #FFFFFF;
            $textColorWhiteLight: #F1F1F1;
      /* WHITE */
/* TEXT COLOR */

