$colorBackgroundBody: #EBEBEB;

$colorBorderBottomSection: #E5E5E5;

$colorBorderHeaderAvatar: #E5E5E5;
$colorTextHeaderList: #8C8C8C;

$colorBackgroundFooter: #74858D;
$colorFontFooter: #424242;

$colorGlobalToslePrimary: #1A5CCB;