/* GLOBAL VARIABLES
Ne pas supprimer, utilisez les comme source d'inspi

      $globalColorDefault: #D2DAE2;
      $globalColorDefaultDark: #7F8FA6;
      $globalColorRed: #F43C3E;
      $globalColorRedDark: #CF2829;
      $globalColorWhite: #F5F6FA;
      $globalColorGreen: #2ECC71;
      $globalColorGreenDark: #27AE60;
      $globalColorBlue: #00A8FF;
      $globalColorBlueDark: #037FF1;
      $globalColorOrange: #FA690E;
      $globalColorOrangeDark: #DC4712;
      $globalColorPurple: #9B59B6;
      $globalColorPurpleDark: #8E44AD;
/* GLOBAL VARIABLES */
/* BACKGROUND COLOR */
      /* WHITE */
            $backgroundColorWhiteFull: #FFFFFF;
            $backgroundColorWhiteNormal: #F1F1F1;
      /* WHITE */
      /* BLUE */
            $backgroundColorBlueFull: #0000FF;
            $backgroundColorBlueMatte: #1A5CCB;
            $backgroundColorBlueNormal: #037FF1;
            $backgroundPhotosColorBlue: #2F80ED;
            $backgroundPhotosColorBlueRgba: rgba(47,128,237,0.6);
      /* BLUE */
      /* GREY */
            $backgroundColorGreyLight: #E5E5E5;
            $backgroundColorGreyNormal: #3D3F3E;
      /* GREY */
      /* BLACK */
            $backgroundColorBlackFull: #000000;
      /* BLACK */
  /* ARTICLE BLOC PART */
      /* GREEN */
            $backgroundColorBlocGreenNormal: #A3E079;
            $backgroundColorBlocGreenNormalHover: #8CD85A;
      /* GREEN */
      /* ORANGE */
            $backgroundColorBlocOrangeNormal: #D8B166;
            $backgroundColorBlocOrangeNormalHover: #D0A149;
      /* ORANGE */
      /* BLUE */
            $backgroundColorBlocSweetBlueNormal: #86A8D6;
            $backgroundColorBlocSweetBlueNormalHover: #6791CB;
            $backgroundColorBlocSkyBlueNormal: #42B7E2;
            $backgroundColorBlocSkyBlueNormalHover: #22ABDD;
      /* BLUE */
      /* SALMON */
            $backgroundColorBlocSalmonNormal: #FB9990;
            $backgroundColorBlocSalmonNormalHover: #FA776B;
      /* SALMON */
      /* PINK */
            $backgroundColorBlocPinkNormal: #E27696;
            $backgroundColorBlocPinkNormalHover: #DB577E;
      /* PINK */
  /* ARTICLE BLOC PART */
/* BACKGROUND COLOR */

/* BORDER COLOR */
  /* GREY */
      $borderColorGreyLight: #BDBDBD;
      $borderColorGreyNormal: #3D3F3E;
  /* GREY */
/* BORDER COLOR */

/* TEXT COLOR */
      /* BLUE */
            $textColorBlueMatte: #1A5CCB;
      /* BLUE */
      /* GREY */
            $textColorGreyLight: #8C8C8C;
            $textColorGreyNormal: #3D3F3E;
            $textColorGreyNormal2: #545557;
      /* GREY */
      /* GREY */
            $textColorBlackFull: #000000;
      /* GREY */
      /* WHITE */
            $textColorWhiteFull: #FFFFFF;
            $textColorWhiteNormal: #F1F1F1;
            $textColorWhiteNormalBloc: #F1F1F1;
      /* WHITE */
/* TEXT COLOR */

