$sizeMaxWidthSection: 1230px;

$sizeHeightHeader: 60px;

$sizeFontHeaderTitlePage: 1.7em;
$sizeFontHeaderAlertIcon: 1.5em;
$sizeFontHeaderMenuIcon: 1.5em;
$sizeFontHeaderListIcon: 2em;
$sizeFontHeaderListText: 0.9em;