html {
  > body {
    #positionning-box-tosle {
      position: absolute;
      width: 100%;
      top: 0;
      > .section-size-body {
        max-width: $sizeMaxWidthSection;
        margin: 0 auto;
        > .content-box {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}