$colorBackgroundHeader: #FFFFFF;

/* CLASS */
  /* CONTENT-BACKOFFICE */
      $colorBackgroundContentBackOffice: #FFFFFF;
      $colorFontTableHeader: #8C8C8C;
      $colorBorderTableHeader: #BDBDBD;

      $sizeHeightWidthAvatarTableBody: 40px;
  /* CONTENT-BACKOFFICE */
/* CLASS */