@import "../../Global/global_header";
html {
  height: 100%;
  body {
    height: 100%;
    background-color: $colorBackgroundBody;
  }
  @import "Blog/class";
  @import "Class/class";
  @import "Profile/class";
}
