.content-backoffice {
  background-color: white;
  > .header-content {
    height: 40px;
    display: flex;
    padding: 0 7.5px;
    border-bottom: 1px solid $colorBorderBottomSection;
    > h4 {
      flex-basis: 95%;
      line-height: 40px;
    }
    > a {
      display: block;
      flex-basis: 5%;
      padding-top: 2.5px;
      color: $colorGlobalToslePrimary;
      > i {
        line-height: 150%;
      }
      &.desactive {
        display: none;
      }
    }
  }
  > .main-content {
    padding: 15px 0;
    > table {
      width: 100%;
      border-collapse: collapse;
      > thead {
        > tr {
          border-bottom: 1px solid $colorBorderTableHeader;
          color: $colorFontTableHeader;
          > td {
            padding: 5px;
            text-align: center;
          }
        }
      }
      > tbody {
        > tr {
          border-bottom: 1px solid $colorBorderTableHeader;
          > td {
            padding: 8.5px 10px;
            &.td-content-avatar {
              > img {
                width: $sizeHeightWidthAvatarTableBody;
                height: $sizeHeightWidthAvatarTableBody;
                border-radius: 50%;
                border: 1px solid $colorBorderHeaderAvatar;
              }
            }
            &.td-content-text {
              font-size: 1em;
            }
            &.td-content-date {
              text-align: center;
            }
            &.td-content-number {
              text-align: center;
            }
            &.td-content-icone {
              color: $colorGlobalToslePrimary;
              text-align: center;
            }
            &.td-content-action {
              text-align: center;
            }
            .ordered-button {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}

.bold-text {
  font-weight: 500;
}

.additional-message-title {
  font-size: 0.7em;
}

.dashboard-bloc {
  background-color: #FFF;
  padding: 15px;
  .table-dashboard {
    width: 100%;
    border-collapse: collapse;
    tr {
      height: 50px;
      td {
        border: 1px solid $colorBorderTableHeader;
      }
    }
  }
}
