<?php
    /**
    *   Informations à propos de ce fichier :
    *       * Il est nécessaire de le COPIER dans le répertoire App/config en enlevant l'extension '.dist'
    *       * Renseignez les informations dans les defines
    *       * Sinon, utilisez l'installeur
    */
    define("DBUSER","");
    define("DBPWD","");
    define("DBHOST","");
    define("DBNAME","");
    define("DBPORT","");
    define("GUSER", "");
    define("GPWD", "");