<?php
    // In config folder, please insert new data
    define("DBUSER","");
    define("DBPWD","");
    define("DBHOST","");
    define("DBNAME","");
    define("DBPORT","");
    define("GUSER", "");
    define("GPWD", "");