.article-admin-green {
  background-color: $backgroundColorAdminGreenNormal;
}
.article-admin-orange {
  background-color: $backgroundColorAdminOrangeNormal;
}
.article-admin-sweetblue {
  background-color: $backgroundColorAdminSweetBlueNormal;
}
.article-admin-pink {
  background-color: $backgroundColorAdminPinkNormal;
}
.article-admin-skyblue {
  background-color: $backgroundColorAdminSkyBlueNormal;
}
.article-admin-salmon {
  background-color: $backgroundColorAdminSalmonNormal;
}