/* IMPORT VARIABLES */
/* GLOBAL VARIABLES */
/* DEFAULT*/
/* DEFAULT */
/* RED */
/* RED */
/* WHITE */
/* WHITE */
/* GREEN */
/* GREEN */
/* BLUE */
/* BLUE */
/* ORANGE */
/* ORANGE */
/* PURPLE */
/* PURPLE*/
/* GLOBAL VARIABLES */
/* BACKGROUND COLOR */
/* WHITE */
/* WHITE */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* BACKGROUND COLOR */
/* BORDER COLOR */
/* GREY */
/* GREY */
/* GREY */
/* GREY */
/* BORDER COLOR */
/* TEXT COLOR */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* WHITE */
/* WHITE */
/* TEXT COLOR */
/* IMPORT VARIABLES */
/* IMPORT STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F1F1F1; }

header {
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  header > section {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px; }
    header > section > div:first-child {
      flex-basis: 20%; }
      header > section > div:first-child > p {
        line-height: 60px;
        font-size: 2rem;
        color: #1A5CCB; }
    header > section > div:last-child {
      flex-basis: 80%;
      text-align: right; }
      header > section > div:last-child > i {
        font-size: 1.5rem;
        line-height: 60px;
        margin-right: 40px;
        color: #8C8C8C; }
        header > section > div:last-child > i:hover {
          cursor: pointer; }
      header > section > div:last-child > .profil_icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        width: 80px; }
        header > section > div:last-child > .profil_icon > .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #CF2829;
          display: inline-block;
          border: 0.5px solid #BDBDBD;
          overflow: hidden; }
          header > section > div:last-child > .profil_icon > .avatar_icon > img {
            width: 40px;
            height: 40px; }
        header > section > div:last-child > .profil_icon > i {
          display: inline-block;
          vertical-align: top;
          line-height: 40px;
          color: #8C8C8C; }
          header > section > div:last-child > .profil_icon > i:hover {
            cursor: pointer; }

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  nav > section {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    height: 60px; }
    nav > section > div {
      flex-basis: 25%;
      text-align: center;
      padding: 5px 0; }
      nav > section > div > a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #8C8C8C;
        text-decoration: none; }
        nav > section > div > a > .material-icons {
          font-size: 2em; }
        nav > section > div > a > p {
          font-size: 0.8em; }
      nav > section > div:hover {
        background-color: #E5E5E5;
        transition: 0.4s; }
        nav > section > div:hover a {
          color: #3D3F3E; }
      nav > section > div.current {
        background-color: #1A5CCB; }
        nav > section > div.current a {
          color: #F1F1F1; }

/* IMPORT STYLE */
/* IMPORT MEDIA */
@media screen and (max-device-width: 420px) {
  body > nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 0px solid #BDBDBD;
    border-top: 1px solid #BDBDBD; }
    body > nav > section {
      height: 150px;
      padding: 0; }
      body > nav > section > article {
        padding: 35px; }
        body > nav > section > article > a > .material-icons {
          font-size: 3em; }
        body > nav > section > article > a p {
          font-size: 1.5em; } }

/* IMPORT MEDIA */
