/* IMPORT VARIABLES */
/* GLOBAL VARIABLES
Ne pas supprimer, utilisez les comme source d'inspi

      $globalColorDefault: #D2DAE2;
      $globalColorDefaultDark: #7F8FA6;
      $globalColorRed: #F43C3E;
      $globalColorRedDark: #CF2829;
      $globalColorWhite: #F5F6FA;
      $globalColorGreen: #2ECC71;
      $globalColorGreenDark: #27AE60;
      $globalColorBlue: #00A8FF;
      $globalColorBlueDark: #037FF1;
      $globalColorOrange: #FA690E;
      $globalColorOrangeDark: #DC4712;
      $globalColorPurple: #9B59B6;
      $globalColorPurpleDark: #8E44AD;
/* GLOBAL VARIABLES */
/* BACKGROUND COLOR */
/* WHITE */
/* WHITE */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* BLACK */
/* BLACK */
/* BACKGROUND COLOR */
/* BORDER COLOR */
/* GREY */
/* GREY */
/* BORDER COLOR */
/* TEXT COLOR */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* WHITE */
/* WHITE */
/* TEXT COLOR */
/* global paramater */
/* global paramater */
/* IMPORT VARIABLES */
/* IMPORT STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F1F1F1; }

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; }

header {
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  header > section {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    /* Close div:first-child */ }
    header > section > div:first-child {
      flex-basis: 20%; }
      header > section > div:first-child > p {
        line-height: 60px;
        font-size: 2em;
        color: #1A5CCB; }
    header > section div:nth-child(2) {
      flex-basis: 80%;
      text-align: right; }
      header > section div:nth-child(2) > i {
        font-size: 1.5em;
        line-height: 60px;
        color: #8C8C8C; }
        header > section div:nth-child(2) > i:hover {
          color: #3D3F3E;
          cursor: pointer; }
      header > section div:nth-child(2) > .profil_icon {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        /* Close profil icon */ }
        header > section div:nth-child(2) > .profil_icon:hover > .avatar_icon {
          border: 0.5px solid black;
          cursor: pointer; }
        header > section div:nth-child(2) > .profil_icon:hover > i {
          color: #3D3F3E; }
        header > section div:nth-child(2) > .profil_icon > .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 0.5px solid #3D3F3E;
          overflow: hidden;
          margin-top: 10px;
          display: inline-block;
          vertical-align: top; }
          header > section div:nth-child(2) > .profil_icon > .avatar_icon > img {
            width: 100%;
            height: 100%; }
        header > section div:nth-child(2) > .profil_icon > i {
          color: #8C8C8C; }

.profil_menu {
  width: 200px;
  position: absolute;
  margin-left: -120px;
  margin-top: 5px;
  max-height: 0px;
  overflow: hidden; }
  .profil_menu div:first-child {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3D3F3E;
    position: absolute;
    right: 6px; }
  .profil_menu div:last-child {
    width: 100%;
    border: 1px solid #3D3F3E;
    background-color: #FFFFFF;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    max-height: 0px;
    transition: 0.4s;
    overflow: hidden; }
    .profil_menu div:last-child > .ul-menuProfil {
      list-style: none;
      text-align: left;
      padding: 10px 0; }
      .profil_menu div:last-child > .ul-menuProfil > .li-menuAction {
        padding: 0.5em 0;
        line-height: 25px;
        font-size: 0.9em; }
        .profil_menu div:last-child > .ul-menuProfil > .li-menuAction:hover {
          background-color: #1A5CCB; }
          .profil_menu div:last-child > .ul-menuProfil > .li-menuAction:hover a {
            color: #FFFFFF; }
        .profil_menu div:last-child > .ul-menuProfil > .li-menuAction > a {
          text-decoration: none;
          color: #3D3F3E;
          display: block;
          width: 80%;
          margin: 0 10%; }
      .profil_menu div:last-child > .ul-menuProfil > .separator {
        border-top: 1px solid #BDBDBD;
        margin: 5px 3px; }

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  nav > ul {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    list-style: none; }
    nav > ul > li {
      flex-basis: 25%;
      text-align: center; }
      nav > ul > li > a {
        padding: 5px 0;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #8C8C8C;
        text-decoration: none; }
        nav > ul > li > a > .material-icons {
          font-size: 2em; }
        nav > ul > li > a > p {
          font-size: 0.8em; }
      nav > ul > li:hover {
        background-color: #E5E5E5;
        transition: 0.4s; }
        nav > ul > li:hover a {
          color: #3D3F3E; }
      nav > ul > li.current {
        background-color: #1A5CCB; }
        nav > ul > li.current a {
          color: #F1F1F1; }

/* IMPORT STYLE */
/* IMPORT MEDIA */
@media screen and (max-device-width: 420px) {
  body > header {
    height: 100px; }
    body > header > section > div:first-child > p {
      line-height: 100px;
      font-size: 3em; }
    body > header > section div:nth-child(2) > i {
      font-size: 2.5em;
      line-height: 100px; }
    body > header > section div:nth-child(2) > .profil_icon {
      width: 190px;
      margin-top: 20px; }
      body > header > section div:nth-child(2) > .profil_icon > .avatar_icon {
        width: 60px;
        height: 60px; }
        body > header > section div:nth-child(2) > .profil_icon > .avatar_icon > img {
          width: 100%;
          height: 100%; }
      body > header > section div:nth-child(2) > .profil_icon > i {
        line-height: 70px; }
    body > header .profil_menu {
      width: 400px;
      margin-left: -220px;
      font-size: 1.5em; }
  body > nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 0px solid #BDBDBD;
    border-top: 1px solid #BDBDBD; }
    body > nav > section {
      height: 150px;
      padding: 0; }
      body > nav > section > div {
        padding: 35px; }
        body > nav > section > div > a > .material-icons {
          font-size: 3em; }
        body > nav > section > div > a p {
          font-size: 1.5em; } }

/* IMPORT MEDIA */
/* BLOG PART */
main > h1 {
  margin-top: 25px; }

section > .row > div > div {
  padding: 0; }

section article {
  background-color: #FFFFFF;
  height: 300px;
  display: flex;
  border: 0.5px solid #BDBDBD; }
  section article .content-image {
    background-color: #2F80ED; }
    section article .content-image > img {
      width: 100%;
      height: 100%;
      opacity: 0.4; }
  section article .content-text {
    height: 100%;
    padding: 0 1em;
    display: flex; }
    section article .content-text div {
      margin: auto; }
      section article .content-text div > h1 {
        margin-bottom: 10px; }
      section article .content-text div > p {
        margin-bottom: 25px;
        text-align: justify; }

section .text-image-lg > div:first-child {
  flex-basis: 55%; }

section .text-image-lg > div:last-child {
  flex-basis: 45%; }

section .text-image-md > div:first-child {
  flex-basis: 50%; }

section .text-image-md > div:last-child {
  flex-basis: 50%; }

section .text-lg > .content-text {
  width: 80%;
  margin: auto;
  text-align: center; }

/* BLOG PART */
