/* TEMPLATE DEFAULT TOSLE */
/**
BLOG
 */
html > body #positionning-box-tosle {
  position: absolute;
  width: 100%;
  top: 0; }
  html > body #positionning-box-tosle > .section-size-body {
    max-width: 1230px;
    margin: 0 auto; }
    html > body #positionning-box-tosle > .section-size-body > .content-box {
      position: relative;
      width: 100%; }

html {
  height: 100%; }
  html body {
    height: 100%;
    background-color: #EBEBEB; }
  html .blog-article {
    padding: 5px;
    height: 300px; }
    html .blog-article > .content-article {
      background-color: #FFFFFF;
      height: 100%;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
      background-size: cover; }
      html .blog-article > .content-article > .fade-background-article {
        position: relative;
        padding: 15px 15px;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8); }
        html .blog-article > .content-article > .fade-background-article > h2 {
          text-align: center; }
        html .blog-article > .content-article > .fade-background-article > .resume {
          margin: 15px 0;
          text-align: center; }
        html .blog-article > .content-article > .fade-background-article > a {
          position: absolute;
          bottom: 15px;
          right: 15px; }
        html .blog-article > .content-article > .fade-background-article > .datecreate {
          position: absolute;
          bottom: 15px;
          font-size: 0.8em; }
        html .blog-article > .content-article > .fade-background-article > .info-comment-homeblog {
          position: absolute;
          bottom: 45px;
          display: flex;
          color: #8C8C8C; }
          html .blog-article > .content-article > .fade-background-article > .info-comment-homeblog > i {
            margin-left: 5px; }
        html .blog-article > .content-article > .fade-background-article > .category-list-homeblog {
          position: absolute;
          bottom: 75px;
          max-width: 95%; }
  html .article {
    padding: 5px; }
    html .article > .content-article {
      background-color: #FFFFFF;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
      justify-content: center; }
      html .article > .content-article .container .row {
        justify-content: center; }
      html .article > .content-article .title-article {
        margin: 40px 0 40px 0; }
      html .article > .content-article .text-article {
        margin-bottom: 40px; }
      html .article > .content-article .info-article {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px; }
        html .article > .content-article .info-article div {
          display: flex;
          margin-left: auto; }
          html .article > .content-article .info-article div span {
            color: #8C8C8C;
            font-size: 12px; }
      html .article > .content-article .action-article {
        margin-bottom: 40px; }
        html .article > .content-article .action-article nav {
          display: flex;
          flex-direction: row;
          justify-content: center; }
        html .article > .content-article .action-article .action {
          display: flex;
          border: solid 1px #BDBDBD;
          height: 30px;
          color: #8C8C8C;
          min-width: 200px;
          cursor: pointer; }
          html .article > .content-article .action-article .action .container {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
            align-items: center; }
            html .article > .content-article .action-article .action .container span {
              margin-left: 5px;
              font-size: 14px; }
            html .article > .content-article .action-article .action .container .svg-action i {
              font-size: 16px; }
            html .article > .content-article .action-article .action .container .name-action {
              padding-left: 5px;
              padding-right: 2px; }
      html .article > .content-article .comments-article {
        margin-bottom: 40px; }
        html .article > .content-article .comments-article h5 {
          margin-bottom: 40px; }
        html .article > .content-article .comments-article .container {
          border: solid 1px #7d7c7c42; }
        html .article > .content-article .comments-article .comment {
          display: flex;
          flex-direction: row;
          padding: 5px; }
          html .article > .content-article .comments-article .comment .picture-user {
            display: flex;
            align-items: center; }
          html .article > .content-article .comments-article .comment .picture-user > span {
            border-radius: 50%;
            border: solid 1px #919191;
            width: 42px;
            height: 42px;
            display: block; }
          html .article > .content-article .comments-article .comment > div:nth-child(2) {
            display: flex;
            flex-direction: column;
            margin-left: 10px; }
            html .article > .content-article .comments-article .comment > div:nth-child(2) .name-user {
              color: #1A5CCB;
              font-size: 16px;
              font-weight: 600; }
            html .article > .content-article .comments-article .comment > div:nth-child(2) .content {
              font-size: 14px; }
            html .article > .content-article .comments-article .comment > div:nth-child(2) .info {
              display: flex;
              align-self: flex-end;
              color: #919191;
              font-size: 12px; }
            html .article > .content-article .comments-article .comment > div:nth-child(2) div {
              margin-bottom: 3px; }
          html .article > .content-article .comments-article .comment .signal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto; }
            html .article > .content-article .comments-article .comment .signal .material-icons {
              cursor: pointer;
              color: #1A5CCB; }
      html .article > .content-article .container-editor {
        margin-bottom: 40px; }
  html .header-blog-container .icons-list {
    display: flex; }
    html .header-blog-container .icons-list > .blog-link-icon {
      color: #FFF;
      text-decoration: none;
      border: 1px solid #FFF;
      background-color: #1A5CCB;
      border-radius: 3.5px;
      padding: 3.5px;
      text-align: center;
      display: flex; }
      html .header-blog-container .icons-list > .blog-link-icon > i {
        margin: auto;
        font-size: 1.8em; }
      html .header-blog-container .icons-list > .blog-link-icon > p {
        margin: auto; }
  html .lesson-bloc {
    height: 300px;
    background-color: #ffffff; }
    html .lesson-bloc > .fade-background-lesson {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%; }
      html .lesson-bloc > .fade-background-lesson > .title-lesson {
        padding: 7.5px;
        border-bottom: 1px solid; }
        html .lesson-bloc > .fade-background-lesson > .title-lesson > .info-datecreate {
          position: absolute;
          top: 12.5px;
          right: 7.5px; }
      html .lesson-bloc > .fade-background-lesson > .description-lesson {
        padding: 7.5px; }
      html .lesson-bloc > .fade-background-lesson > .category-list-lesson {
        position: absolute;
        bottom: 0;
        border-top: 0.5px solid;
        max-width: 100%;
        padding: 1%; }
      html .lesson-bloc > .fade-background-lesson > .more-infos {
        position: absolute;
        height: 18%;
        bottom: -17%;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -webkit-box-shadow: 0px 0px 40px -12px transparent;
        -moz-box-shadow: 0px 0px 40px -12px transparent;
        box-shadow: 0px 0px 40px -12px transparent;
        border: 0px solid;
        transition: 0.4s; }
        html .lesson-bloc > .fade-background-lesson > .more-infos > .info-comment-lesson {
          position: absolute;
          bottom: 10px;
          left: 15px; }
        html .lesson-bloc > .fade-background-lesson > .more-infos > .info-chapter {
          position: absolute;
          bottom: 10px;
          right: 15px; }
        html .lesson-bloc > .fade-background-lesson > .more-infos > .info-btn-readmore {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%); }
      html .lesson-bloc > .fade-background-lesson:hover > .more-infos {
        bottom: 0%;
        -webkit-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.75); }
  html .profile {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column; }
    html .profile .profile-container {
      display: flex;
      align-items: center;
      flex-direction: column; }
      html .profile .profile-container .profil-picture {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: solid 1.5px #1A5CCB;
        display: flex;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px; }
        html .profile .profile-container .profil-picture img {
          min-height: 0;
          min-width: 0; }
    html .profile .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px; }
      html .profile .info section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px; }
        html .profile .info section span:nth-child(1) {
          color: #343A40;
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 18px; }
        html .profile .info section span:nth-child(2) {
          font-size: 16px; }
      html .profile .info .name span {
        color: #1A5CCB !important;
        font-size: 24px !important;
        font-weight: 600 !important; }

#menu-header-section {
  width: 250px;
  position: absolute;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  right: 0;
  margin-top: 60px;
  transition: opacity 0.5s; }
  #menu-header-section > .arrow-top-menu {
    width: 7px;
    border-bottom: 7px solid #FFFFFF;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    right: 10px; }
  #menu-header-section > .content-menu-header {
    margin-top: 7px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px; }
    #menu-header-section > .content-menu-header > ul {
      list-style: none;
      padding: 7.5px 0; }
      #menu-header-section > .content-menu-header > ul > li {
        padding: 0 15px;
        transition: background-color 0.2s; }
        #menu-header-section > .content-menu-header > ul > li > a {
          text-decoration: none;
          color: #444444;
          display: block;
          width: 100%;
          padding: 15px 0;
          transition: color 0.2s; }
        #menu-header-section > .content-menu-header > ul > li:hover {
          background-color: #1A5CCB; }
          #menu-header-section > .content-menu-header > ul > li:hover > a {
            color: #FFFFFF; }
        #menu-header-section > .content-menu-header > ul > li.separator {
          border: 1px solid #E5E5E5;
          margin: 5px 15px; }

body > header {
  background-color: #FFFFFF; }
  body > header > section {
    border-bottom: 1px solid #E5E5E5; }
    body > header > section > div {
      display: flex;
      max-width: 1230px;
      margin: 0 auto; }
      body > header > section > div > .left-block {
        flex-basis: 20%; }
        body > header > section > div > .left-block > p {
          font-size: 1.7em;
          line-height: 60px;
          color: #1A5CCB; }
      body > header > section > div > .right-block {
        flex-basis: 80%;
        text-align: right; }
        body > header > section > div > .right-block .tosle-btn {
          line-height: 60px; }
        body > header > section > div > .right-block > i {
          font-size: 1.5em;
          margin-right: 50px;
          line-height: 60px;
          cursor: pointer;
          transition: color 0.2s; }
          body > header > section > div > .right-block > i:hover {
            color: #1A5CCB; }
        body > header > section > div > .right-block .profil-icon {
          display: inline-block;
          cursor: pointer; }
          body > header > section > div > .right-block .profil-icon > .avatar-profil {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #E5E5E5;
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            transition: 0.3s;
            overflow: hidden; }
            body > header > section > div > .right-block .profil-icon > .avatar-profil > img {
              width: 100%;
              height: 100%; }
          body > header > section > div > .right-block .profil-icon > i {
            line-height: 60px;
            font-size: 1.5em; }
          body > header > section > div > .right-block .profil-icon:hover > .avatar-profil {
            background-color: rgba(26, 92, 203, 0.05);
            border-color: #1A5CCB; }
          body > header > section > div > .right-block .profil-icon:hover > i {
            color: #1A5CCB; }
  body > header > nav {
    height: 60px;
    border-bottom: 1px solid #E5E5E5; }
    body > header > nav > ul {
      display: flex;
      max-width: 1230px;
      margin: 0 auto;
      list-style: none; }
      body > header > nav > ul > li {
        flex-basis: 25%;
        height: 100%;
        transition: background-color 0.3s; }
        body > header > nav > ul > li > a {
          display: block;
          width: 100%;
          height: 100%;
          color: #8C8C8C;
          text-align: center;
          text-decoration: none;
          padding: 4px 0; }
          body > header > nav > ul > li > a > .material-icons {
            font-size: 2em; }
          body > header > nav > ul > li > a > p {
            font-size: 0.9em; }
        body > header > nav > ul > li:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        body > header > nav > ul > li.current {
          background-color: #1A5CCB; }
          body > header > nav > ul > li.current > a {
            color: #FFFFFF; }

main {
  max-width: 1230px;
  margin: 0 auto;
  min-height: 90%; }
  main > .container > .row {
    margin-bottom: 27px !important; }
    main > .container > .row > .title-page {
      margin: 26px 0 0 0; }
      main > .container > .row > .title-page > .marg-container {
        margin-left: 15px; }
      main > .container > .row > .title-page h2 {
        font-weight: 300;
        color: #3D3F3E; }
        main > .container > .row > .title-page h2 > .additional-message-title {
          font-size: 0.7em; }

footer {
  background-color: #74858D; }
  footer > .footer-section {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    footer > .footer-section > #footer-left-col {
      flex-basis: 20%;
      padding: 15px; }
      footer > .footer-section > #footer-left-col > .footer-title {
        font-size: 2em;
        color: #FFFFFF; }
      footer > .footer-section > #footer-left-col > #footer-contact {
        margin-top: 15px;
        color: #424242; }
        footer > .footer-section > #footer-left-col > #footer-contact > p {
          font-size: 1.1em; }
        footer > .footer-section > #footer-left-col > #footer-contact > div {
          margin-top: 5px; }
          footer > .footer-section > #footer-left-col > #footer-contact > div > a {
            display: inline-block;
            vertical-align: top;
            line-height: 150%;
            color: #424242;
            text-decoration: none; }
    footer > .footer-section > #footer-right-col {
      margin: auto; }
      footer > .footer-section > #footer-right-col > #link > a {
        text-decoration: none;
        color: #424242; }
        footer > .footer-section > #footer-right-col > #link > a:hover {
          text-decoration: underline; }
      footer > .footer-section > #footer-right-col > #link span {
        color: #424242; }

@media all and (max-device-width: 420px) {
  body > footer {
    padding-bottom: 150px; }
  body > header > section {
    height: 120px; }
    body > header > section > div {
      padding: 0 5px; }
      body > header > section > div > .left-block > p {
        line-height: 120px;
        font-size: 2.5em; }
      body > header > section > div > .right-block > i {
        line-height: 120px;
        font-size: 2.5em; }
      body > header > section > div > .right-block .profil-icon > .avatar-profil {
        width: 90px;
        height: 90px;
        margin-top: 0; }
      body > header > section > div > .right-block .profil-icon > i {
        line-height: 90px;
        font-size: 2.5em; }
  body > header > nav {
    height: 150px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; }
    body > header > nav > ul > li > a {
      font-size: 1.4em;
      padding: 30px 0; }
  body #menu-header-section {
    margin-top: 120px;
    width: 450px; }
    body #menu-header-section > .arrow-top-menu {
      width: 15px;
      border-bottom: 15px solid #FFFFFF;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      right: 15px; }
    body #menu-header-section > .content-menu-header {
      margin-top: 15px; }
      body #menu-header-section > .content-menu-header > ul > li {
        padding: 0 25px; }
        body #menu-header-section > .content-menu-header > ul > li > a {
          font-size: 1.3em;
          padding: 25px 0; }
  body header > nav > ul > li {
    flex-basis: 25%; } }

@media all and (max-width: 420px) {
  body {
    padding-bottom: 90px; }
    body > header > section > div > .left-block > p {
      line-height: 90px; }
    body > header > section > div > .right-block > i {
      line-height: 90px; }
    body > header > section > div > .right-block .profil-icon > .avatar-profil {
      width: 70px;
      height: 70px; }
    body > header > section > div > .right-block .profil-icon > i {
      line-height: 90px; }
    body > header > nav {
      height: 90px;
      position: fixed;
      bottom: 0;
      background-color: white;
      width: 100%; }
      body > header > nav > ul > li > a {
        font-size: 0.9em;
        padding: 15px 0; }
      body > header > nav > ul > li.burgermenu {
        display: block; }
    body #menu-header-section {
      margin-top: 90px;
      width: 300px; }
      body #menu-header-section > .arrow-top-menu {
        width: 15px;
        border-bottom: 15px solid #FFFFFF;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        right: 15px; }
      body #menu-header-section > .content-menu-header {
        margin-top: 14px; }
        body #menu-header-section > .content-menu-header > ul > li {
          padding: 0 25px; }
          body #menu-header-section > .content-menu-header > ul > li > a {
            font-size: 1.3em;
            padding: 25px 0; }
  body header > nav > ul > li {
    flex-basis: 25%; } }

@media all and (min-width: 420px) and (min-device-width: 420px) {
  body > header > section {
    height: 70px; }
    body > header > section > div {
      padding: 0 5px; }
      body > header > section > div > .left-block > p {
        line-height: 70px; }
      body > header > section > div > .right-block > i {
        line-height: 70px; }
      body > header > section > div > .right-block .profil-icon > .avatar-profil {
        width: 50px;
        height: 50px; }
      body > header > section > div > .right-block .profil-icon > i {
        line-height: 70px; }
  body > header > nav {
    height: 70px; }
    body > header > nav > ul > li {
      flex-basis: 20%; }
      body > header > nav > ul > li > a {
        padding: 5px 0; }
  body #menu-header-section {
    margin-top: 70px; }
  body header > nav > ul > li {
    flex-basis: 25%; } }

@media all and (min-width: 768px) and (min-device-width: 768px) {
  body > header > section {
    height: 60px; }
    body > header > section > div > .left-block > p {
      line-height: 60px; }
    body > header > section > div > .right-block > i {
      line-height: 60px; }
    body > header > section > div > .right-block .profil-icon > .avatar-profil {
      width: 40px;
      height: 40px; }
    body > header > section > div > .right-block .profil-icon > i {
      line-height: 60px; }
  body > header > nav {
    height: 60px; }
    body > header > nav > ul > li > a {
      padding: 3px 0; }
  body #menu-header-section {
    margin-top: 60px; } }

@media all and (min-width: 1230px) and (min-device-width: 1230px) {
  body > header > nav > ul > li {
    flex-basis: 25%; }
    body > header > nav > ul > li > a {
      padding: 5px 0; }
  body > header > nav > ul > li {
    flex-basis: 25%; }
    body > header > nav > ul > li > a {
      padding: 5px 0; } }
