/* IMPORT VARIABLES */
/* GLOBAL VARIABLES
Ne pas supprimer, utilisez les comme source d'inspi

      $globalColorDefault: #D2DAE2;
      $globalColorDefaultDark: #7F8FA6;
      $globalColorRed: #F43C3E;
      $globalColorRedDark: #CF2829;
      $globalColorWhite: #F5F6FA;
      $globalColorGreen: #2ECC71;
      $globalColorGreenDark: #27AE60;
      $globalColorBlue: #00A8FF;
      $globalColorBlueDark: #037FF1;
      $globalColorOrange: #FA690E;
      $globalColorOrangeDark: #DC4712;
      $globalColorPurple: #9B59B6;
      $globalColorPurpleDark: #8E44AD;
/* GLOBAL VARIABLES */
/* BACKGROUND COLOR */
/* WHITE */
/* WHITE */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* BLACK */
/* BLACK */
/* ARTICLE BLOC PART */
/* GREEN */
/* GREEN */
/* ORANGE */
/* ORANGE */
/* BLUE */
/* BLUE */
/* SALMON */
/* SALMON */
/* PINK */
/* PINK */
/* ARTICLE BLOC PART */
/* BACKGROUND COLOR */
/* BORDER COLOR */
/* GREY */
/* GREY */
/* BORDER COLOR */
/* TEXT COLOR */
/* BLUE */
/* BLUE */
/* GREY */
/* GREY */
/* GREY */
/* GREY */
/* WHITE */
/* WHITE */
/* TEXT COLOR */
/* global paramater */
/* global paramater */
/* IMPORT VARIABLES */
/* IMPORT CLASS */
.article-bloc {
  height: 250px;
  width: 100%; }
  .article-bloc > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2em 0;
    color: #F1F1F1;
    text-decoration: none; }
    .article-bloc > a > i {
      font-size: 8em; }
    .article-bloc > a h1 {
      font-size: 2.5em; }

.article-bloc-green {
  background-color: #A3E079;
  transition: 0.4s; }

.article-bloc-green:hover {
  background-color: #8CD85A; }

.article-bloc-orange {
  background-color: #D8B166;
  transition: 0.4s; }

.article-bloc-orange:hover {
  background-color: #D0A149;
  transition: 0.4s; }

.article-bloc-sweetblue {
  background-color: #86A8D6;
  transition: 0.4s; }

.article-bloc-sweetblue:hover {
  background-color: #6791CB; }

.article-bloc-pink {
  background-color: #E27696;
  transition: 0.4s; }

.article-bloc-pink:hover {
  background-color: #DB577E; }

.article-bloc-skyblue {
  background-color: #42B7E2;
  transition: 0.4s; }

.article-bloc-skyblue:hover {
  background-color: #22ABDD; }

.article-bloc-salmon {
  background-color: #FB9990;
  transition: 0.4s; }

.article-bloc-salmon:hover {
  background-color: #FA776B; }

.news-profile-article {
  display: flex;
  width: 100%;
  padding: 15px 15px;
  text-decoration: none;
  transition: 0.4s; }
  .news-profile-article > div:first-child {
    flex-basis: 10%;
    margin: auto; }
    .news-profile-article > div:first-child > img {
      height: 40px;
      width: 40px;
      border: 0.5px solid #BDBDBD;
      border-radius: 50%; }
  .news-profile-article > p:nth-child(2) {
    flex-basis: 80%;
    font-size: 0.8em;
    margin: auto;
    color: #3D3F3E; }
  .news-profile-article > p:last-child {
    flex-basis: 10%;
    font-size: 0.6em;
    color: #8C8C8C;
    margin: auto; }
  .news-profile-article:hover {
    background-color: rgba(0, 0, 0, 0.1); }

/* IMPORT CLASS */
/* IMPORT STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F1F1F1;
  font-size: 100%; }

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; }

main > h1 {
  margin-top: 25px; }

header {
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  header > section {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    /* Close div:first-child */ }
    header > section > div:first-child {
      flex-basis: 20%; }
      header > section > div:first-child > p {
        line-height: 60px;
        font-size: 2em;
        color: #1A5CCB; }
    header > section div:nth-child(2) {
      flex-basis: 80%;
      text-align: right; }
      header > section div:nth-child(2) > i {
        font-size: 1.5em;
        line-height: 60px;
        color: #8C8C8C; }
        header > section div:nth-child(2) > i:hover {
          color: #3D3F3E;
          cursor: pointer; }
      header > section div:nth-child(2) > .profil_icon {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        /* Close profil icon */ }
        header > section div:nth-child(2) > .profil_icon:hover > .avatar_icon {
          border: 0.5px solid black;
          cursor: pointer; }
        header > section div:nth-child(2) > .profil_icon:hover > i {
          color: #3D3F3E; }
        header > section div:nth-child(2) > .profil_icon > .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 0.5px solid #3D3F3E;
          overflow: hidden;
          margin-top: 10px;
          display: inline-block;
          vertical-align: top; }
          header > section div:nth-child(2) > .profil_icon > .avatar_icon > img {
            width: 100%;
            height: 100%; }
        header > section div:nth-child(2) > .profil_icon > i {
          color: #8C8C8C; }

.profil_menu {
  width: 200px;
  position: absolute;
  margin-left: -120px;
  margin-top: 0px;
  max-height: 0px;
  overflow: hidden; }
  .profil_menu div:first-child {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3D3F3E;
    position: absolute;
    right: 6px; }
  .profil_menu div:last-child {
    width: 100%;
    border: 1px solid #3D3F3E;
    background-color: #FFFFFF;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    max-height: 0px;
    transition: 0.4s;
    overflow: hidden;
    z-index: 1; }
    .profil_menu div:last-child > .ul-menuProfil {
      list-style: none;
      text-align: left;
      padding: 10px 0; }
      .profil_menu div:last-child > .ul-menuProfil > .li-menuAction {
        padding: 0 10%;
        line-height: 25px;
        font-size: 0.9em; }
        .profil_menu div:last-child > .ul-menuProfil > .li-menuAction:hover {
          background-color: #1A5CCB; }
          .profil_menu div:last-child > .ul-menuProfil > .li-menuAction:hover a {
            color: #FFFFFF; }
        .profil_menu div:last-child > .ul-menuProfil > .li-menuAction > a {
          text-decoration: none;
          color: #3D3F3E;
          display: block;
          width: 80%;
          padding: 0.5em 0; }
      .profil_menu div:last-child > .ul-menuProfil > .separator {
        border-top: 1px solid #BDBDBD;
        margin: 5px 3px; }

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  nav > ul {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    list-style: none; }
    nav > ul > li {
      flex-basis: 25%;
      text-align: center; }
      nav > ul > li > a {
        padding: 5px 0;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #8C8C8C;
        text-decoration: none; }
        nav > ul > li > a > .material-icons {
          font-size: 2em; }
        nav > ul > li > a > p {
          font-size: 0.8em; }
      nav > ul > li:hover {
        background-color: #E5E5E5;
        transition: 0.4s; }
        nav > ul > li:hover a {
          color: #3D3F3E; }
      nav > ul > li.current {
        background-color: #1A5CCB; }
        nav > ul > li.current a {
          color: #F1F1F1; }

/* IMPORT STYLE */
/* IMPORT MEDIA */
@media all and (max-device-width: 420px) {
  body {
    padding-bottom: 160px; }
    body > header {
      height: 100px; }
      body > header > section > div:first-child > p {
        line-height: 100px;
        font-size: 3em; }
      body > header > section div:nth-child(2) > i {
        font-size: 2.5em;
        line-height: 100px; }
      body > header > section div:nth-child(2) > .profil_icon {
        width: 190px;
        margin-top: 10px; }
        body > header > section div:nth-child(2) > .profil_icon > .avatar_icon {
          width: 60px;
          height: 60px; }
          body > header > section div:nth-child(2) > .profil_icon > .avatar_icon > img {
            width: 100%;
            height: 100%; }
        body > header > section div:nth-child(2) > .profil_icon > i {
          line-height: 90px; }
      body > header .profil_menu {
        width: 400px;
        margin-left: -220px;
        font-size: 1.5em; }
    body > nav {
      position: fixed;
      z-index: 100;
      bottom: 0;
      width: 100%;
      border-bottom: 0px solid #BDBDBD;
      border-top: 1px solid #BDBDBD; }
      body > nav > ul {
        height: 150px;
        padding: 0; }
        body > nav > ul > li {
          padding: 35px; }
          body > nav > ul > li > a > .material-icons {
            font-size: 3em; }
          body > nav > ul > li > a p {
            font-size: 1.5em; }
  .content-text > div > p {
    font-size: 1.5em; }
  .news-profile-article > div:first-child {
    flex-basis: 0%;
    overflow: hidden; }
  .news-profile-article > p:nth-child(2) {
    flex-basis: 90%;
    font-size: 1.2em; }
  .news-profile-article > p:last-child {
    font-size: 1em; } }

@media all and (min-device-width: 420px) and (min-width: 420px) {
  .content-text > div > p {
    font-size: 1.3em; }
  .news-profile-article > p:nth-child(2) {
    font-size: 1em; }
  .news-profile-article > p:last-child {
    font-size: 0.8em; } }

@media all and (min-device-width: 768px) and (min-width: 768px) {
  .content-text > div > p {
    font-size: 1em; }
  .news-profile-article > p:nth-child(2) {
    font-size: 0.8em; }
  .news-profile-article > p:last-child {
    font-size: 0.6em; } }

/* IMPORT MEDIA */
/* ADMIN PART */
/* ADMIN PART */
/* PROFILE PART */
#profile-section article {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  margin: 0 5px; }
  #profile-section article > .title-article {
    height: 40px;
    border-bottom: 0.5px solid #BDBDBD;
    padding: 0 15px;
    line-height: 40px; }
    #profile-section article > .title-article > h2 {
      color: #1A5CCB;
      display: inline-block; }
    #profile-section article > .title-article > .icon-title-article {
      float: right;
      padding-top: 6.5px;
      color: #8C8C8C; }
      #profile-section article > .title-article > .icon-title-article:hover {
        color: #1A5CCB; }

/* PROFILE PART */
/* BLOG PART */
#blog-section article {
  background-color: #FFFFFF;
  height: 300px;
  display: flex;
  border: 0.5px solid #BDBDBD; }
  #blog-section article .content-image {
    background-color: #2F80ED; }
    #blog-section article .content-image > img {
      width: 100%;
      height: 100%;
      opacity: 0.4; }
  #blog-section article .content-text {
    height: 100%;
    padding: 0 1em;
    display: flex; }
    #blog-section article .content-text div {
      margin: auto; }
      #blog-section article .content-text div > h1 {
        margin-bottom: 10px; }
      #blog-section article .content-text div > p {
        margin-bottom: 25px;
        text-align: justify;
        color: #8C8C8C; }
  #blog-section article .content-background-image {
    width: 100%;
    height: 100%; }
    #blog-section article .content-background-image > .content-text {
      background-color: rgba(47, 128, 237, 0.6);
      text-align: center; }
      #blog-section article .content-background-image > .content-text > div > h1 {
        color: #FFFFFF; }

#blog-section .text-image-lg > div:first-child {
  flex-basis: 55%; }

#blog-section .text-image-lg > div:last-child {
  flex-basis: 45%; }

#blog-section .text-image-md > div:first-child {
  flex-basis: 50%; }

#blog-section .text-image-md > div:last-child {
  flex-basis: 50%; }

#blog-section .text-lg > .content-text {
  width: 80%;
  margin: auto;
  text-align: center; }

/* BLOG PART */
/* BLOG PART */
.container-messaging {
  width: 100%; }
  .container-messaging > section:first-child {
    background-color: #FFFFFF; }
  .container-messaging > section:nth-child(2) {
    float: left; }
  .container-messaging > section:last-child {
    float: left; }
  .container-messaging > section::before {
    display: table;
    content: ''; }
  .container-messaging > section::after {
    display: table;
    content: '';
    clear: both; }

.left-column {
  width: 20%;
  float: left; }
  .left-column > ul {
    list-style: none; }
    .left-column > ul > li:first-child {
      margin-top: 25px;
      padding: 0 25px;
      height: 50px;
      margin-bottom: 25px; }
      .left-column > ul > li:first-child .button-new-message {
        background-color: #1A5CCB;
        display: block;
        width: 100%;
        height: 100%;
        color: #F1F1F1;
        border: none;
        cursor: pointer; }
        .left-column > ul > li:first-child .button-new-message > i {
          line-height: 50px; }
        .left-column > ul > li:first-child .button-new-message > p {
          display: inline-block;
          margin-left: 15px;
          vertical-align: top;
          line-height: 50px; }
    .left-column > ul > li {
      width: 100%;
      height: 60px; }
      .left-column > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 25px;
        text-decoration: none;
        color: #545557; }
        .left-column > ul > li > a > p {
          display: inline-block;
          font-weight: bold;
          vertical-align: top;
          line-height: 60px;
          margin-left: 15px; }
        .left-column > ul > li > a > i {
          line-height: 60px; }
        .left-column > ul > li > a:hover {
          background-color: rgba(0, 0, 0, 0.1); }
      .left-column > ul > li.current > a {
        color: #F1F1F1;
        background-color: #4a84e8; }
      .left-column > ul > li.group-messaging i {
        font-size: 0.8em; }

.middle-column {
  width: 30%;
  background-color: #E5E5E5; }
  .middle-column > .header-middle-column {
    height: 30px;
    background-color: #E5E5E5;
    padding: 0 25px; }
    .middle-column > .header-middle-column > i {
      line-height: 30px; }
    .middle-column > .header-middle-column > p {
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
      line-height: 30px; }
  .middle-column > .messages-middle {
    max-height: 900px;
    overflow: scroll; }
    .middle-column > .messages-middle > .content-message {
      background-color: #E5E5E5;
      display: block;
      padding: 25px 15px;
      text-decoration: none;
      transition: 0.4s; }
      .middle-column > .messages-middle > .content-message > .header-message-info {
        height: 30px; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #9B59B6;
          text-align: center;
          line-height: 24px;
          display: inline-block;
          margin-top: 3px; }
          .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message > p {
            color: #FFFFFF; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .owner-message {
          display: inline-block;
          vertical-align: top;
          margin-left: 15px;
          line-height: 30px; }
          .middle-column > .messages-middle > .content-message > .header-message-info > .owner-message > p {
            font-size: 1.2em;
            color: #545557; }
      .middle-column > .messages-middle > .content-message > .main-message-info {
        height: 45px;
        line-height: 45px; }
        .middle-column > .messages-middle > .content-message > .main-message-info > button {
          background: none;
          border: none;
          height: 100%;
          outline: none;
          cursor: pointer; }
        .middle-column > .messages-middle > .content-message > .main-message-info > p {
          display: inline-block;
          vertical-align: top;
          height: 100%;
          margin-left: 15px;
          color: #545557; }
      .middle-column > .messages-middle > .content-message > .footer-message-info p {
        color: #8C8C8C;
        font-size: 0.8em; }
      .middle-column > .messages-middle > .content-message:hover {
        background-color: #FFFFFF; }
      .middle-column > .messages-middle > .content-message.active {
        background-color: #FFFFFF; }
  .middle-column .circle-new-message {
    display: block;
    text-align: center;
    padding: 25px 0; }
    .middle-column .circle-new-message > a > i {
      font-size: 2.5em;
      color: #8C8C8C;
      transition: 0.4s; }
      .middle-column .circle-new-message > a > i:hover {
        color: #1A5CCB; }

.right-column {
  width: 50%; }
  .right-column > .infos-profil-contact {
    height: 100%;
    background-color: #FFFFFF;
    padding: 15px;
    border-bottom: 0.5px solid #BDBDBD;
    border-right: 0.5px solid #BDBDBD; }
    .right-column > .infos-profil-contact > h2 {
      text-align: center; }
      .right-column > .infos-profil-contact > h2 a {
        text-decoration: none;
        color: #000000; }
        .right-column > .infos-profil-contact > h2 a:hover {
          color: #1A5CCB; }
    .right-column > .infos-profil-contact > .group-assign-info {
      text-align: center; }
      .right-column > .infos-profil-contact > .group-assign-info > a {
        color: #8C8C8C;
        text-decoration: none; }
        .right-column > .infos-profil-contact > .group-assign-info > a:hover {
          color: #000000; }
      .right-column > .infos-profil-contact > .group-assign-info i {
        font-size: 1em; }
  .right-column > .chat-bloc {
    padding: 15px 10px;
    background-color: #FFFFFF;
    border-right: 0.5px solid #BDBDBD;
    max-height: 954px;
    overflow: scroll; }
    .right-column > .chat-bloc > .message-left {
      margin-right: 45%; }
      .right-column > .chat-bloc > .message-left > p {
        color: white;
        padding: 10px 15px;
        background: linear-gradient(#1A5CCB, #3475e5);
        border-radius: 7px 7px 7px 0px;
        text-align: justify; }
      .right-column > .chat-bloc > .message-left > span {
        font-size: 0.8em; }
    .right-column > .chat-bloc > .message-right {
      margin-left: 45%;
      text-align: right; }
      .right-column > .chat-bloc > .message-right > p {
        color: black;
        padding: 10px 15px;
        background: linear-gradient(#cccccc, #e6e6e6);
        border-radius: 11px 11px 0px 11px;
        text-align: justify; }
      .right-column > .chat-bloc > .message-right > span {
        font-size: 0.8em; }

@media all and (max-device-width: 870px) {
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid #BDBDBD; }
    .left-column > ul {
      display: flex;
      height: 100px; }
      .left-column > ul > li, .left-column > ul li:first-child {
        margin: 0;
        padding: 0;
        height: 100px;
        text-align: center; }
        .left-column > ul > li .button-new-message p, .left-column > ul > li a p, .left-column > ul li:first-child .button-new-message p, .left-column > ul li:first-child a p {
          display: none; }
        .left-column > ul > li .button-new-message i, .left-column > ul > li a i, .left-column > ul li:first-child .button-new-message i, .left-column > ul li:first-child a i {
          font-size: 2.5rem; }
        .left-column > ul > li a i, .left-column > ul li:first-child a i {
          font-size: 2.5rem;
          line-height: 100px; }
  .middle-column {
    width: 10%; }
    .middle-column > .header-middle-column {
      display: none; }
    .middle-column > .messages-middle > .content-message {
      padding: 20px 0;
      text-align: center; }
      .middle-column > .messages-middle > .content-message > .header-message-info {
        height: auto; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message {
          width: 48px;
          height: 48px;
          line-height: 48px; }
          .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message p {
            font-size: 1.5em; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .owner-message {
          display: none; }
      .middle-column > .messages-middle > .content-message > .main-message-info {
        display: none; }
      .middle-column > .messages-middle > .content-message > .footer-message-info {
        display: none; }
    .middle-column > .circle-new-message {
      display: none; }
  .right-column {
    width: 90%; } }

@media all and (max-width: 870px) {
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid #BDBDBD; }
    .left-column > ul {
      display: flex;
      height: 100px; }
      .left-column > ul > li, .left-column > ul li:first-child {
        margin: 0;
        padding: 0;
        height: 100px;
        text-align: center; }
        .left-column > ul > li .button-new-message p, .left-column > ul > li a p, .left-column > ul li:first-child .button-new-message p, .left-column > ul li:first-child a p {
          display: none; }
        .left-column > ul > li .button-new-message i, .left-column > ul > li a i, .left-column > ul li:first-child .button-new-message i, .left-column > ul li:first-child a i {
          font-size: 2.5rem; }
        .left-column > ul > li a i, .left-column > ul li:first-child a i {
          font-size: 2.5rem;
          line-height: 100px; }
  .middle-column {
    width: 10%; }
    .middle-column > .header-middle-column {
      display: none; }
    .middle-column > .messages-middle > .content-message {
      padding: 20px 0;
      text-align: center; }
      .middle-column > .messages-middle > .content-message > .header-message-info {
        height: auto; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message {
          width: 48px;
          height: 48px;
          line-height: 48px; }
          .middle-column > .messages-middle > .content-message > .header-message-info > .icon-message p {
            font-size: 1.5em; }
        .middle-column > .messages-middle > .content-message > .header-message-info > .owner-message {
          display: none; }
      .middle-column > .messages-middle > .content-message > .main-message-info {
        display: none; }
      .middle-column > .messages-middle > .content-message > .footer-message-info {
        display: none; }
    .middle-column > .circle-new-message {
      display: none; }
  .right-column {
    width: 90%; } }

@media all and (min-device-width: 870px) and (min-width: 870px) and (max-width: 1200px) {
  .left-column {
    float: none;
    width: 100%;
    border-bottom: 0.5px solid #BDBDBD; }
    .left-column > ul {
      display: flex;
      height: 80px; }
      .left-column > ul > li, .left-column > ul > li:first-child {
        margin: 0;
        padding: 0;
        height: 80px;
        flex-basis: calc(80% / 5);
        text-align: center; }
        .left-column > ul > li > a > p, .left-column > ul > li:first-child > a > p {
          display: block;
          font-size: 0.8em;
          margin-left: 3px;
          line-height: 0;
          margin-top: 15px; }
        .left-column > ul > li > a i, .left-column > ul > li:first-child > a i {
          line-height: 0;
          margin-top: 25px; }
        .left-column > ul > li > .button-new-message > p, .left-column > ul > li:first-child > .button-new-message > p {
          display: inline-block;
          font-size: 1em;
          margin-left: 3px; }
      .left-column > ul > li:first-child {
        flex-basis: 20%; }
  .middle-column {
    width: 40%; }
  .right-column {
    width: 60%; } }

/* BLOG PART */
