main {
    /* display: flex; */
    flex-direction: row;
    max-width: 1230px;
    margin: 0 auto;
    min-height: 100%;
}

li {
    text-decoration: none;
    list-style: none;
}

.container > .row {
    margin-bottom: 27px !important;
}

#nav-dashboard ul li a {
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

section .marg-container {
    margin-left: 15px;
}

.title-page {
    margin: 26px 0 0 0;
}

.title-page h2 {
    font-weight: 300;
    color: #3D3F3E;
}

#left-side {
    display: flex;
    flex-direction: column;
}

#right-side {
    flex-direction: row;
}

#nav-dashboard {
    background-color: #FFFFFF;
    border: solid 0.5px #BDBDBDBD;
    margin-bottom: 27px;
}

#nav-dashboard li {
    height: 60px;
    border-right: solid 0.5px #BDBDBDBD;
    border-top: solid 0.5px #BDBDBDBD;
    border-left: solid 1.5px #BDBDBDBD;
}

#nav-dashboard li:last-child {
    border-bottom: solid 0.5px #BDBDBDBD;
}

#nav-dashboard p {
    font-weight: 400;
    color: #1A5CCB;
    margin-left: 20px;
}

#nav-dashboard i { /** todo a mofidier **/
    margin: auto;
    margin-right: 29px;
}

.block-dash .marg-container {
    height: 340px;
    background-color: #FFFFFF;
    border: solid 0.5px #BDBDBDBD;

}

.block-dash .title {

    background-color: #FFFFFF;
    height: 60px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-weight: 400;
    border: solid 0.5px #BDBDBDBD;
    border-left: solid 1px #BDBDBDBD;

}

.block-dash .title > h4 {
    margin-left: 16px;
    font-weight: 500;
}

.block-dash .container {
    background-color: #FFFFFF;
}

#stat-cms ul {
    font-size: 14px;
    height: 40px;
    border: solid 0.5px #BDBDBDBD;
}

#stat-cms li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stat-cms ul > li > p:nth-child(1) {
    margin-left: 16px;
    font-size: 14px;
}

.blue {
    fill: #1A5CCB;
    color: #1A5CCB;
}

#stat-register {
    font-weight: 600;
}

.column-col-5 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-col-5 > ul > li { /** todo a modifier essayer de tout regrouper column + row**/
    width: 100%;
    max-width: 211px;
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px #C4C4C4;
    color: #8C8C8C;
}

.column-col-5 > ul > li > span {
    width: 100%;
    text-align: center;
}

.column-col-5 > ul > li:nth-child(2) {
    max-width: 96px;
}

.column-col-5 > ul > li:nth-child(3) {
    max-width: 96px;
}

.column-col-5 > ul > li:nth-child(4) {
    max-width: 96px;
}

.row-col-5 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-col-5 > ul > li { /** todo a modifier essayer de tout regrouper column + row**/
    width: 100%;
    max-width: 211px;
    height: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px #C4C4C4;
    color: #3D3F3E;
}
.row-col-5 > ul > li:nth-child(1) {
    max-width: 196px;
    font-size: 12px;
}

.row-col-5 > ul > li:nth-child(2) {
    max-width: 96px;
}

.row-col-5 > ul > li:nth-child(3) {
    max-width: 96px;
}

.row-col-5 > ul > li:nth-child(4) {
    max-width: 96px;
}

.row-col-5 > ul > li > span {
    width: 100%;
    text-align: center;
}

#last-blog-post .column-col-5 > ul > li:nth-child(1){
    max-width: 300px;

}#last-blog-post .row-col-5 > ul > li:nth-child(1){
     max-width: 300px;
 }

#last-chat-message .column-col-5 > ul > li:nth-child(1) {
    max-width: 70px;
}
#last-chat-message .column-col-5 > ul > li:nth-child(2) {
    max-width: 300px;
}
#last-chat-message .row-col-5 > ul > li:nth-child(1) {
    max-width: 70px;
}
#last-chat-message .row-col-5 > ul > li:nth-child(2) {
    max-width: 300px;
}

.stat-small {
    margin-bottom: 27px;
    height: 254px;
    background-color: #ffffff;
}



