/* IMPORT VARIABLES */
/* GLOBAL VARIABLES */
/* DEFAULT*/
/* DEFAULT */
/* RED */
/* RED */
/* WHITE */
/* WHITE */
/* GREEN */
/* GREEN */
/* BLUE */
/* BLUE */
/* ORANGE */
/* ORANGE */
/* PURPLE */
/* PURPLE*/
/* GLOBAL VARIABLES */
/* BACKGROUND COLOR */
/* WHITE */
/* WHITE */
/* BACKGROUND COLOR */
/* BORDER COLOR */
/* GREY */
/* GREY */
/* BORDER COLOR */
/* TEXT COLOR */
/* BLUE */
/* BLUE */
/* TEXT COLOR */
/* IMPORT VARIABLES */
/* IMPORT STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F1F1F1; }

header {
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD; }
  header section {
    width: 1000px;
    margin: 0 auto;
    display: flex; }
    header section article:first-child {
      flex-basis: 20%; }
      header section article:first-child p {
        line-height: 60px;
        font-size: 2rem;
        color: #1A5CCB; }
    header section article:last-child {
      flex-basis: 80%;
      text-align: right; }
      header section article:last-child > i {
        font-size: 1.5rem;
        line-height: 60px;
        margin-right: 40px; }
      header section article:last-child .profil_icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        width: 80px; }
        header section article:last-child .profil_icon .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #CF2829; }
        header section article:last-child .profil_icon > i {
          display: inline-block;
          vertical-align: top; }

/* IMPORT STYLE */
