#admin-section {
  > div {
    > div {
      > div {
        height: 250px;
        width: 100%;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          padding: 2em 0;
          color:$textColorWhiteNormalAdmin;
          text-decoration: none;
          > i {
            font-size: 8em;
          }
          h1 {
            font-size: 2.5em;
          }
        }
      }
    }
  }
}