> .middle-column {
  flex-basis: 30%;
  background-color: $colorBackgroundHeader;
  border-left: 1px solid $colorBorderBottomSection;
  border-right: 1px solid $colorBorderBottomSection;
  overflow: auto;
  > .content-actually-filter {
    background-color: $colorBackgroundMiddleColumn;
    padding: 2.5px 15px;
    border-bottom: 1px solid $colorBorderBottomSection;
    > p {
      font-size: 1em;
      > i {
        font-size: 0.9em;
      }
    }
  }
  > .content-message {
    > .message-info {
      display: block;
      padding: 5px;
      text-decoration: none;
      background-color: $colorBackgroundMiddleColumn;
      transition: $transitionHoverGlobalMessage;
      > .parameter-message {
        display: none;
      }
      > .header-message {
        padding: 5px 0;
        display: flex;
        > .logo-header-message {
          border-radius: 50%;
          background-color: $colorBackgroundLogoHeaderMessageOld;
          color: $colorFontLogoHeaderMessageOld;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 1.4em;
          transition: $transitionHoverLogoHeaderMessage;
        }
        > .id-header-message {
          line-height: 40px;
          padding: 0 15px;
          color: $colorFontMessageOld;
        }
      }
      > .main-message {
        padding: 5px 0px;
        > p {
          color: $colorFontMessageOld;
        }
      }
      > .footer-message {
        padding: 15px 15px;
        > p {
          font-size: 0.8em;
          color: $colorFontMessageOld;
        }
      }
      &.notification {
        > .header-message {
          > .logo-header-message {
            background-color: $colorBackgroundLogoHeaderMessageNotification;
            color: $colorFontMessageNotification;
          }
          > .id-header-message {
            color: $colorFontMessageNotification;
            font-weight: bold;
          }
        }
        > .main-message {
          > p {
            color: $colorFontMessageNotification;
          }
        }
        > .footer-message {
          > p {
            color: $colorFontMessageNotification;
          }
        }
      }
      &:hover, &.active {
        background-color: $colorFontLogoHeaderMessageActiveHover;
        > .parameter-message {
          display: block;
          float: right;
          padding: 5px 5px;
          > i {
            color: black;
          }
        }
        > .header-message {
          > .logo-header-message {
            background-color: $colorGlobalToslePrimary;
            color: $colorFontLogoHeaderMessageActiveHover;
          }
          > .id-header-message {
            color: $colorGlobalToslePrimary;
          }
        }
        > .main-message {
          > p {
            color: $colorFontMessageActiveHover;
          }
        }
        > .footer-message {
          > p {
            color: $colorFontMessageActiveHover;
          }
        }
      }
    }
  }
}