.right-column {
  height: 100%;
  background-color: $colorBackgroundRightColumn;
  .error-add-message {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    z-index: 3000;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    bottom: 15%;
    .type-error {
      color: red;
      font-weight: bold;
    }
    .content-error {
      color: red;
    }
  }
  > .content-right-column {
    position: relative;
    height: 100%;
    > .content-infos-message {
      background-color: $colorBackgroundRightColumn;
      padding: 5px 0;
      border-bottom: 1px solid $colorBorderBottomSection;
      height: 70px;
      position: absolute;
      width: 100%;
      > h2 {
        text-align: center;
      }
      > .more-infos {
        text-align: center;
        display: flex;
        font-size: 1em;
        color: $colorFontMoreInfosMessage;
        justify-content: center;
        margin-top: 5px;
        > i {
          font-size: 1.5em;
        }
        > p {
          line-height: 150%;
        }
      }
    }
    > .container-message {
      padding-top: 70px;
      padding-bottom: 90px;
      height: 100%;
      overflow: auto;
      > .message-owner {
        padding: 5px 10px 5px 10%;
        > p:first-child {
          background-color: $colorGlobalToslePrimary;
          border-radius: 5px 5px 0px 5px;
          width: 100%;
          padding: 10px 15px;
          color: white;
        }
        > .date-message {
          text-align: right;
        }
      }
      > .message-other {
        padding: 10px 10% 5px 5px;
        > p:first-child {
          border-radius: 5px 5px 5px 0px;
          width: 100%;
          padding: 10px 15px;
          color: white;
        }
        &.default-message-other {
          > p:first-child {
            background-color: grey;
          }
        }
      }
      .date-message {
        font-size: 0.8em;
      }
      > div > p:first-child {
        font-size: 1em;
      }
      &.no-conversation {
        text-align: center;
        button {
          margin: 0 auto;
        }
      }
    }
    > .edit-new-message {
      border-top: 1px solid $colorBorderBottomSection;
      padding: 5px;
      position: absolute;
      width: 100%;
      height: 90px;
      bottom: 0;
      background-color: #FFFFFF;
      form {
        display: flex;
        > .content-input {
          flex-basis: 80%;
          border-right: 1px solid $colorBorderBottomSection;
          > textarea {
            border: none;
            width: 100%;
            min-height: 80px;
            max-height: 80px;
            border-bottom: 1px solid $colorBorderBottomSection;
            outline: none;
            transition: 0.4s;
            &:hover, &:active {
              border-bottom: 1px solid black;
            }
          }
        }
      }
      > .content-button {
        flex-basis: 20%;
        display: flex;
        > button {
          margin: auto;
          display: block;
        }
      }
    }
  }
}