$colorBackgroundBody: #EBEBEB;
$colorBackgroundHeader: #FFFFFF;

$ooo: #FFFFF;
$colorBackgroundBody: #EBEBEB;
$colorBackgroundHeader: #FFFFFF;


/**
BLOG
 */
$colorLinkIcon: #000;
$colorBackgroundIcon: #FFF;