header {
  height: 60px;
  background-color: $backgroundColorWhiteFull;
  border-bottom: 1px solid $borderColorGreyLight;
  > section {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    > article:first-child{
      flex-basis: 20%;
      > p {
        line-height: 60px;
        font-size: 2rem;
        color: $textColorBlueTitle;
      }
    }
    article:last-child{
      flex-basis: 80%;
      text-align: right;
      > i {
        font-size: 1.5rem;
        line-height: 60px;
        margin-right: 40px;
        color: $textColorGreyLight;
        &:hover {
          cursor: pointer;
        }
      }
      > .profil_icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        width: 80px;
        > .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $globalColorRedDark;
          display: inline-block;
        }
        > i{
          display: inline-block;
          vertical-align: top;
          line-height: 40px;
          color: $textColorGreyLight;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}