header {
  height: 60px;
  background-color: $backgroundColorWhiteFull;
  border-bottom: 1px solid $borderColorGreyLight;
  > section {
    max-width: $maxWidthSection;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    > div:first-child{
      flex-basis: 20%;
      > p {
        line-height: 60px;
        font-size: 2em;
        color: $textColorBlueMatte;
      }
    } /* Close div:first-child */
    div:nth-child(2){
      flex-basis: 80%;
      text-align: right;
      > i {
        font-size: 1.5em;
        line-height: 60px;
        color: $textColorGreyLight;
        &:hover {
          color: $textColorGreyNormal;
          cursor: pointer;
        }
      }
      > .profil_icon {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        &:hover {
          > .avatar_icon {
            border: 0.5px solid black;
            cursor: pointer;
          }
          > i {
            color: $textColorGreyNormal;
          }
        } /* Close profil icon */
        > .avatar_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 0.5px solid $borderColorGreyNormal;
          overflow: hidden;
          margin-top: 10px;
          display: inline-block;
          vertical-align: top;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        > i {
          color: $textColorGreyLight;
        }
      }
    }
  }
}