nav {
  background-color: $backgroundColorWhiteFull;
  border-bottom: 1px solid $borderColorGreyLight;
  > section {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    > article {
      flex-basis: 25%;
      text-align: center;
      padding: 5px 0;
      color: $textColorGreyLight;
      &.current {
        color: $textColorWhiteLight;
        background-color: $backgroundColorBlue;
      }
      &:hover {
        color: $textColorGreyDark;
        background-color: $backgroundColorGreyLight;
        transition: 0.4s;
      }
      > a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        > .material-icons {
          font-size: 2em;
        }
        > p {
          font-size: 0.8em;
        }
      }
    }
  }
}