nav {
  background-color: $backgroundColorWhiteFull;
  border-bottom: 1px solid $borderColorGreyLight;
  > section {
    max-width: $maxWidthSection;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    > div {
      flex-basis: 25%;
      text-align: center;
      padding: 5px 0;
      > a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: $textColorGreyLight;
        text-decoration: none;
        > .material-icons {
          font-size: 2em;
        }
        > p {
          font-size: 0.8em;
        }
      }
      &:hover {
        background-color: $backgroundColorGreyLight;
        transition: 0.4s;
        a {
          color: $textColorGreyNormal;
        }
      }
      &.current {
        background-color: $backgroundColorBlueMatte;
        a {
          color: $textColorWhiteNormal;
        }
      }
    }
  }
}