.profil_menu {
  width: 200px;
  position: absolute;
  margin-left: -120px;
  margin-top: 5px;
  max-height: 0px;
  overflow: hidden;
  div:first-child{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $backgroundColorGreyNormal;
    position: absolute;
    right: 6px;
  }
  div:last-child{
    width: 100%;
    border: 1px solid $borderColorGreyNormal;
    background-color: $backgroundColorWhiteFull;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    max-height: 0px;
    transition: 0.4s;
    overflow: hidden;
    z-index: 100;
    > .ul-menuProfil {
      list-style: none;
      text-align: left;
      padding: 10px 0;

      > .li-menuAction {
        padding: 0 10%;
        line-height: 25px;
        font-size: 0.9em;
        &:hover{
          background-color: $backgroundColorBlueMatte;
          a {
            color: $textColorWhiteFull;
          }
        }
        > a {
          text-decoration: none;
          color: $textColorGreyNormal;
          display: block;
          width: 80%;
          padding: 0.5em 0;
        }
      }
      > .separator {
        border-top: 1px solid $borderColorGreyLight;
        margin: 5px 3px;
      }
    }
  }
}